/* 

Author: Pooja Dallakoti
Theme: Food Order Website Admin;
version; 1.0;

*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
      
}

.text-center{
    text-align: center;

}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding-left: 2%;
    padding-top: 2%;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed537;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    color: #2ed537;
}
.error{
    color: #ff4757;
}

/* css for menu*/
.menu{
    border-bottom: 1px solid grey;
    height: 10%;
    display: flex;
    align-items: center;
}
.menu ul{
    list-style-type:none ;
}
.menu ul li {
    display: inline;
    padding: 1%;

}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
} 


/*css for main content*/
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
    min-height: 72.5%;
    height: fit-content;
}

.col-4 {
    width: 18%;
    background-color: rgba(255, 255, 255, 0.797);
    margin: 1%;
    padding: 2%;
    float: left;
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow */
    transition: all 0.3s ease; /* smooth animation */
    cursor: pointer;

}

.col-4:hover {
    transform: translateY(-5px) scale(1.03); /* lifts slightly */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* deeper shadow */
    background-color: #ffeae0; /* soft hover color */
}

/* css for footer */
.footer{
    background-color: #ff4757;
    color: white;
    
}

/*css for login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}



.tbl-full {
    width: 100%;
    border-collapse: collapse;
}

.tbl-full th, .tbl-full td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tbl-full th {
    background-color: #f2f2f2;
    text-align: left;
}
@media print {
   .menu,.footer,.btn
    {
        display: none !important;
    }

    body {
        background: white;
    }
}
input[type="text"],
input[type="password"],input[type="number"]{
    background-color: #FFFFFF;
    color: #1E293B;
    border: 1px solid rgb(32, 138, 199);
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    width: 250px;
    margin-top: 5px;
}
input[type="date"] {
    width: 110px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f5f5f5;
    color: #333;
}

input[type="text"]:active {
    transform: scale(0.95);
}

input[type="password"]:active {
    transform: scale(0.95);
}

input[type="text"]:focus {
   border-color: #007bff;
    box-shadow: 0 0 4px rgba(0,123,255,0.4);
    background: #fff;
}
select {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f8f8f8;
    outline: none;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 15px;
}

select:hover {
    border-color: #007bff;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0,123,255,0.4);
    background: #fff;
}
